<a href="https://colab.research.google.com/github/Dominic2681998/Data_Science/blob/main/wine_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
from sklearn.datasets import load_wine

In [42]:
data=load_wine()

In [ ]:
df=pd.DataFrame(data.data,columns=data.feature_names)
df['target']=data.target
df.head()
#already target values are present and heading isnt there.So heading is given as target

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0
3    14.37        1.95  2.50  ...                          3.45   1480.0       0
4    13.24        2.59  2.87  ...                          2.93    735.0       0

[5 rows x 14 columns]

In [43]:
x_train,x_test,y_train,y_test=train_test_split(data.data,data.target,test_size=.3,random_state=42)

In [44]:
gaussian=GaussianNB()
gaussian.fit(x_train,y_train)

GaussianNB()

In [45]:
predict=gaussian.predict(x_test)

In [46]:
acc=accuracy_score(y_test,predict)
acc

1.0

In [47]:
cm=confusion_matrix(y_test,predict)
cm

array([[19,  0,  0],
       [ 0, 21,  0],
       [ 0,  0, 14]])